.inputForm {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__input {
    padding: 12px 20px;
    width: 200px;
    background: #c6d0f6;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
      background: #cfadff;
    }
  }
}

